.btn {
    font-family: $font-poppins;
    text-transform: uppercase;
    background: $blue-degrade;
    color: $white;
    border-radius: 25px;
    font-weight: 500;
    border: none;
    outline: none;
    &--headerBtn {
        @extend .btn;
        font-size: 16px;
        padding: 13px 40px;
    }
    &--whoWeAreBtn {
        @extend .btn;
        font-size: 12px;
        font-weight: 600;
        padding: 16px 52.2px 15.4px 52px;
    }
    &--whatWeOfferBtn {
        @extend .btn;
        font-size: 12px;
        padding: 6px 18.5px 6.7px 18px;
    }
    &--ourPricingBtn {
        @extend .btn;
        font-size: 16px;
        padding: 15px 40.4px 14px 41.6px;
        border: solid 1px #1000ff;
        color: $grey-dark;
        background: $white;
        text-transform: none;
    }
    &--ourPricingSelectedBtn {
        @extend .btn;
        padding: 14px 41.4px 15px 40.6px;
        font-size: 16px;
        color: $white;
    }
    &--subscribeBtn {
        @extend .btn;
        font-size: 16px;
        padding: 15px 45px 14px;
    }
}