// Fonts :
$font-dosis: 'Dosis',
sans-serif;
$font-poppins: 'Poppins',
sans-serif;
$font-lobster: 'Lobster',
cursive;
$font-lato: 'Lato',
sans-serif;
// Colors :
$white: #fff;
$white-deep:#f6f7fb;
$grey:#484848;
$grey-light:#7a839e;
$grey-dark:#42495b;
$purple:#7e76f9;
$blue:#1000ff;
$blue-degrade: linear-gradient(to right, #1a129f 66%, #6156F9 100%);
// container :
$container: 90%;
$textContainer:80%;
$large-screen-width:1024px;
$medium-screen-width:768px;
$small-screen-width:576px;